---
import type { Address } from '../content.config.ts';

interface Props {
    address: Address
}

const { address } = Astro.props;
---
{
    address && 
    <span class="citystate">{address.muni}, {address.state}, {address.country}</span>
}
