---
import type { CollectionEntry } from "astro:content";
import type { Experience } from "../content.config.ts";

import { getEntry } from "astro:content";

import Section from './Section.astro';
import Role from './Role.astro';

type Vita = CollectionEntry<"vita">
type Person = CollectionEntry<"people">

interface Props {
    vita: Vita;
    heading: string;
}

const { vita, heading } = Astro.props;

const person: Person = await getEntry(vita.data.person);
const roles = person.data.experience as Experience[];
---
<Section name={heading} classes="is-size-5 has-text-weight-bold">
    {
        roles.map((role) => <Role {role}/>)
    }
</Section>