---
import type { CollectionEntry } from "astro:content";
import type { Contact, Experience } from "../content.config.ts";

import { getEntry } from "astro:content";

import Row from "./Row.astro";
import Yearrange from "./Yearrange.astro";
import Institution from "./Institution.astro";
import Citystate from "./Citystate.astro";

type Inst = CollectionEntry<"institutions">;

interface Props {
    role: Experience;
}

const { role } = Astro.props;

const institution: Inst = await getEntry(role.institution);
const contact: Contact = institution.data.contact;
---

<Row>
    <Yearrange start={role.startDate} end={role.endDate} slot="left" />
    <ul slot="right">
        <li class="has-text-weight-bold">{role.name}</li>
        <li>
            <Institution {institution} /><Citystate
                address={contact && contact.address ? contact.address : null}
            />
        </li>
    </ul>
</Row>
