---

---

<div class="columns">
    <div class="column is-one-fifth has-text-right">
        <slot name="left"/>
    </div>
    <div class="column is-four-fifths">
        <ul>
            <slot name="right"/>
        </ul>
    </div>
</div>